
body::before{
    content : "";
    background-image: url("images/bg-pattern-top.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: right bottom;
    width: 50%;
    height: 50%;
    top: 0;
    left: 0;
    z-index: -1;
}

body::after{
    content : "";
    background-image: url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-position: left top;
    top : 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    z-index: -1;
}

body {
    background: hsl(185, 75%, 39%);
}

.card {
    position: absolute;
    background: white;
    border-radius: 5%;
    margin : auto;
    width: 350px;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    font-family: 'Kumbh Sans', sans-serif;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.25);
}

.profile{
    position: relative;
    text-align: center;
    bottom: 15%;
    border-bottom: 1px solid lightgray;

}


.victor{
    border: 5px solid white;
    border-radius: 100%;
    position: relative;
}

.name {
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    margin : 0;
    line-height: 2;
}

span {
    color : hsl(0, 0%, 59%);
    font-weight: 400;
    margin-left: 0.3em;
}

.london {
    color : hsl(0, 0%, 59%);
}

.stats {
    display: inline-block;
}

ul {
    margin : 0;
    display: inline-block;
    list-style: none;
    text-align: center;
}

li:first-child{
    color : hsl(229, 23%, 23%);
    font-weight: 700;
}

li:last-child{
    color : hsl(0, 0%, 59%);
    font-size: 14px;
    letter-spacing: 2px;
    padding-top: 5px;
}